#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

#video{
  height: 100vh;
  width: 100%;
  background-position: absolute;
  z-index: 10;
  object-fit: cover;
  
}

@media (min-aspect-ratio: 16/9) {
  #video{
    width: 100%;
    height: auto
  }
}

@media (max-aspect-ratio: 16/9) {
  #video{
    width: auto;
    height: 100%
  }
}

#hero h1{
  font-size: 160px;
  color: #fff;
  font-weight: 600;
  transition: 0.5s;
}

#hero a{
  text-decoration: none;
  display: inline-block;
  color: #fff;
  font-size: 24px;
  border: 2px solid #fff; 
  padding: 14px 70px;
  border-radius: 50px;
  margin-top: 20px;
}

#hero h1:hover {
  -webkit-text-stroke: 2px #fff;
  color: transparent;
}

#hero video::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.45); 
  z-index: 11;
}